<h1>人員マスタ　新規登録</h1>

<%= render 'form' %>

<div class ="bottom_link">
<%= link_to 'Back', users_path %>
<%= link_to 'Back', :controller => 'users' ,:action => 'errform' %>
<%= link_to 'Back', :controller => 'users' ,:action => 'edit',:id =>1 %>
